<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Login </h2>
    <h2 class="inactive underlineHover" routerLink="/register"> Register </h2>
    <form>
      <input type="text" [(ngModel)]="farmer.email" id="login"  name="login" placeholder="login">
      <input type="password" [(ngModel)]="farmer.password" id="password" name="login" placeholder="password">
      <button class="btn btn-primary" type="button" (click)="getAccountByEmail()">Login</button>
    </form>

  </div>
</div>
