

<div class="container" id="farmers">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Farmer Name</th>
                            <th>Farmer Age</th>
                            <th>Farmer Contact Number</th>
                            <th>Farmer Gender</th>
                            <th>Farmer Email</th>
                            <th>Farmer Password</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let farmer of farmers">
                            
                            
                            <td >{{farmer.farmerId}}</td>
                            <th >{{farmer.farmerName}}</th>
                            
                            <td >{{farmer.age}}</td>
                            <td > {{farmer.contactNumber}}</td>
                            <td > {{farmer.gender}}</td>
                            
                            <td > {{farmer.email}}</td>
                            <td > {{farmer.password}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
