<!-- <h1 class="text-center">SEEDS </h1>
<section class="section-grid">
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\paddy-seeds.jpeg" alt=""></p>
            <p class="text-center">25P35 HYBRID PADDY (RICE)(धान )</p>
            <p class="text-center">DuPont Pioneer</p>
            <p class="text-center">₹ 990</p>
            <p class="text-center">3 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\corn-seeds.jpeg" alt=""></p>
            <p class="text-center">CRYSTAL CCH 369 BG II COTTON</p>
            <p class="text-center">Crystal Crop Protection</p>
            <p class="text-center">₹ 730</p>
            <p class="text-center">450 gm</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\corn-seeds.jpeg" alt=""></p>
            <p class="text-center">P3388 CORN</p>
            <p class="text-center">DuPont Pioneer</p>
            <p class="text-center">₹ 1,700</p>
            <p class="text-center">4 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>

    
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\cotton-hybrid.jpeg" alt=""></p>
            <p class="text-center">US 81 COTTON (SWCH 4757 BGII)</p>
            <p class="text-center">US Agri</p>
            <p class="text-center">₹ 765</p>
            <p class="text-center">450 gm</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\mustard-seeds.jpeg" alt=""></p>
            <p class="text-center">V-45S46 MUSTARD ( सरसों )</p>
            <p class="text-center">DuPont Pioneer</p>
            <p class="text-center">₹ 925 </p>
            <p class="text-center">1 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\jowar-seeds.jpeg" alt=""></p>
            <p class="text-center">3206 JOWAR (SORGHUM) (ज्वार)</p>
            <p class="text-center">Hytech</p>
            <p class="text-center">₹ 790990 ₹ 1,050</p>
            <p class="text-center">3 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
</section>
<hr>
<h1 class="text-center">FERTILIZERS</h1>
<section class="section-grid">
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\excel-herbicide.jpeg" alt=""></p>
            <p class="text-center">Excel Sumitomo Glycel Glyphosate 41% SL Herbicide , Highly effective against wide range of weeds . </p>
            <p class="text-center">Sumitomo chemical india pvt ltd </p>
            <p class="text-center">₹ 2606.00 </p>
            <p class="text-center">5 litre</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\weed-killer.jpeg" alt=""></p>
            <p class="text-center">Katyayani Weed Killer Liquid For Lawn And Garden , Used for Removes Unwanted Plants Weeds , Available as Liquid.</p>
            <p class="text-center">Katyayani Organics </p>
            <p class="text-center">₹ 1060.00</p>
            <p class="text-center">750 ml</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\organic-fertilizer.jpeg" alt=""></p>
            <p class="text-center">Plantic Organic All in One Plant Food Liquid Fertilizer For All Types of Plants</p>
            <p class="text-center">Plantic Organic</p>
            <p class="text-center">₹ 599.00</p>
            <p class="text-center">250 ml</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>

    
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\onlinethumb.jpeg" alt=""></p>
            <p class="text-center">Utkarsh Combi Soil ( Mix Micro Nutrient Fertilizer Soil Application Grade).</p>
            <p class="text-center"> Utkarsh Agrochem Pvt. Ltd.</p>
            <p class="text-center">₹ 2189.00</p>
            <p class="text-center">10 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets/cow-manure.webp" alt=""></p>
            <p class="text-center">Gardenia Cow Manure</p>
            <p class="text-center">Gardenia by Ugoa</p>
            <p class="text-center">₹ 399</p>
            <p class="text-center">5 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets/bone-meal.webp" alt=""></p>
            <p class="text-center">coiroot Bone Meal Fertilizers for Plants (1 kg)</p>
            <p class="text-center">coiroot</p>
            <p class="text-center">₹ 169.00</p>
            <p class="text-center">31 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
</section> -->


 <!-- <h1 class="text-center">SEEDS </h1>
<section class="section-grid">
    <div class="div-grids">
        <div class="product" *ngFor="let product of products">
            <p class="text-center"><img class="img-fluid" src="assets\paddy-seeds.jpeg" alt=""></p>
          
            <p class="text-center">{{product.productName}}</p>
            <p class="text-center">{{product.productPrice}}</p>
         
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
</section>  -->




    <div class="row">
        <div class="card">
            <div class="product" *ngFor="let product of products">
                <p class="text-center"><img class="img-fluid" src="assets\paddy-seeds.jpeg" alt=""></p>
                <p class="text-center">{{products.productCompanyName}}</p>
                <p class="text-center">{{product.productName}}</p>
                <p class="text-center">{{product.productPrice}}</p>
                <p class="text-center">{{products.productQuantity}}</p>
                <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
            
            </div>
          </div>
       </div> 


<h1 class="text-center">FERTILIZERS</h1>
<section class="section-grid">
    <div class="div-grids">
        <div class="product">
            <p class="text-center"><img class="img-fluid" src="assets\paddy-seeds.jpeg" alt=""></p>
            <p class="text-center">25P35 HYBRID PADDY (RICE)(धान )</p>
            <p class="text-center">DuPont Pioneer</p>
            <p class="text-center">₹ 990</p>
            <p class="text-center">3 kg</p>
            <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
        </div>
    </div>
</section>

<!-- <div class="row">
    <div class="column">
      <div class="card">
           <div class="product" *ngFor="let product of products">
        <p class="text-center"><img class="img-fluid" src="assets\paddy-seeds.jpeg" alt=""></p>
      
        <p class="text-center">{{product.productName}}</p>
        <p class="text-center">{{product.productPrice}}</p>
     
        <p class="text-center"><button class="btn text-center">Add To Cart</button></p>
    </div>
     </div>
    </div>   
  </div> -->