.chat-grid{
     overflow-y: scroll;
     position: relative;
     height: 80vh;
}
.chat-input{
    width: 580px;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    height: 40px;
    opacity: 0.7;
}

.chat{
    background-image: url('src\assets\chat.jpg');
    max-width:60%;
    height:80vh;
    margin: 100px auto;
    background-position: center center;
    background-size: cover;
    border-radius: 0.5rem;
    
}
​
.div-chat{
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 1rem;
}
.chat-context-expert{
    margin: 1rem 0rem 0rem 1rem;;
    float:left;
    
    width:70%;
}
.expert-msg {
    
    padding: 1rem;
    border-radius: 0.5rem;
    background-color : white;
    opacity: 0.7;
}
.user-msg {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color : white;
    opacity: 0.7;
}
.chat-context-user{
    margin-top:1rem;
    float:right;
   
    width:70%;
}
​
.chat-mem{
    background-color : white;
    border-radius: 0.5rem;
    margin-left:1rem;
    padding-left: 1rem;
    border:2px solid black;
    height:80vh;
    
    
}
.expert-name{
    border-radius: 0.5rem;
    background-color : white;
    width: 180px;
    opacity: 0.7;
    text-align: centre;
}
.user-name{
    border-radius: 0.5rem;
    background-color : white;
    width: 180px;
    text-align: centre;
    opacity: 0.7;
}