
    <div>
    <div class="div-flex">
        <div class="img">
            <img class="img-fluid" src="assets\middle-pic.jpeg" alt="">
        </div>
        <div class="content">
            <h2>About us</h2>
            <h1>Agro Tech </h1>
            <p>Agro Tech is the one stop solution for all the farmers. We solve all the farmers quries and help them achevie the best crop output
                    We provide them with best quality seeds </p>
            <a href="/" class="link">More About us</a>
        </div>
    </div>
    <div class="div-grid">
        <div>
            <h4 style="color:#6ea53b">Farmers Used Our Website</h4>
            <p>545</p>
        </div>
        <div>
            <h4 style="color:#6ea53b">Querires Answered</h4>
            <p>2176</p>
        </div>
        <div>
            <h4 style="color:#6ea53b">Crops brougth from farmers</h4>
            <p>92 Tons</p>
        </div>
        <div>
            <h4 style="color:#6ea53b">Qualty Products Sales</h4>
            <p>946</p>
        </div>
    </div>
</div>

