<header class="head">
  <nav class="navbar navbar-expand-lg" style="background-color: #1B5E20;">
    <a class="navbar-brand brand" routerLink="/home"><img class="logo" src="\assets\FarmTwo (2).png" alt=""> 
    </a>

    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/products" (click)="getAllProducts()">SHOP</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/agriFeed">AGRI-FEED</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/learn">LEARN</a>
        </li>
        
        <li  *ngIf="! loggedIn()" class="nav-item" >
          <a class="nav-link"  routerLink="/login">LOGIN</a>   
        </li>
        <li *ngIf=" loggedIn()" class="nav-item " >
          <div class="dropdown">
            <button class="btn btn-ssuccess dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
             
            </button>
            <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <!-- *ngIf="flag" for farmer -->
                            <!-- *ngIf="!flag" -->
              <a  class="dropdown-item" routerLink="/myProfile">My Profile</a>
              <a   class="dropdown-item" routerLink="/updateFarmer">Update Account</a>
              <a   class="dropdown-item" routerLink="/viewCart">View Cart</a>
              <a   class="dropdown-item" routerLink="/viewOrders">View Orders</a>
              <a   class="dropdown-item" routerLink="/viewCompany">Sell Crops</a>

              
            
                      
                            <!-- *ngIf="flag" for admin -->
               
              <a  class="dropdown-item" routerLink="/myProfile">My Profile</a>
              <a  class="dropdown-item" routerLink="/viewAllOrders">View All Orders</a>
              <a  class="dropdown-item"  routerLink="/viewAllFarmers">View All Farmers</a>
              <a  class="dropdown-item" routerLink="/deleteFarmer">Delete Farmer</a>
              <a   class="dropdown-item" routerLink="/addProducts">Add Products</a>
              <a  class="dropdown-item" routerLink="/addCompany">Add Company</a>
              <a  class="dropdown-item" routerLink="/viewCompany">View Companies</a>
              <a   class="dropdown-item" routerLink="/addProducts">Add Products</a>
              <a  class="dropdown-item" routerLink="/addInformation">Add Information</a>
              <a  class="dropdown-item" (click)="logout()" routerLink="/home">Log Out</a>

              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="grid">
    <div class="about-one" style="margin-left: 4rem;">
      <h2>About AgroTech</h2>
      <p class="text-justify">
        Now a days farmers are not getting help even though farming s the most important profession . they are getting low qulatity seeds
        and fertilizers we solve that
      </p>
      <a href="/home" class="btn btn-primary">About Us</a>
    </div>
    <div class="about-two">
      <h2>Our Promises</h2>
      <p class="text-justify">
        We promise you the best qualuty seeds
        We promise you the best qualuty fertilizers
        We promise you the best qualuty information
        We promise you the best qualuty advices from experts
      </p>
    </div>
    <div class="about-three">
      <h2>Contact Us</h2>
      <label >email : info@agrotech.com</label>
      <p>(+91)9874455662</p>
      <div class="inner-grid">
        <div>
          <p>
            <a href="/insta">
              <img src="https://img.icons8.com/ios-filled/50/000000/instagram-new.png" />
            </a>
          </p>
        </div>
        <div>
          <p><a href="/fb"><img src="https://img.icons8.com/ios-filled/50/000000/facebook--v1.png" /></a></p>
        </div>
        <div>
          <p><a href="/twitter">
              <img src="https://img.icons8.com/ios-filled/50/000000/twitter-squared.png" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>

</footer>
