<div class="container-fluid" id="profile">
    <div class="card" >
        <div class="card-body">
            <p class="card-text"><span class="span">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : </span> {{farmer.farmerName}}</p>
            <p class="card-text"><span class="span">Age &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  : </span>&nbsp;&nbsp;{{farmer.age}}</p>
            <p class="card-text"><span class="span">Number&nbsp;&nbsp; : </span>&nbsp;&nbsp;{{farmer.contactNumber}}</p>
            <p class="card-text"><span class="span">Gender&nbsp;&nbsp;&nbsp;&nbsp; : </span>&nbsp;&nbsp;{{farmer.gender}}</p>
            <p class="card-text"><span class="span">Email&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; : </span>&nbsp;&nbsp;{{farmer.email}}</p>
            <!-- <p class="card-text">Email : {{farmer.password}}</p> -->
        </div>
    </div>
</div>
