<div class="container-fluid">
    <div class="card" *ngFor="let companies of companies" >
        <div class="card-body">
            <p class="card-text"> {{companies.companyImage}}</p>          
            <p class="card-text">Name: {{companies.companyName}}</p>
            <p class="card-text">Contact Number: {{companies.companyNumber}}</p>
            <p class="card-text">Crop : {{companies.cropName}}</p>
            <p class="card-text">Price: {{companies.cropPrice}}</p>
               
        </div>       
    </div>
    
    <br>
</div>
<br> <br> <br> <br>
