
<div class="wrapper fadeInDown">
  
    <div id="formContent">
      <h2 class="active" > Enter Age </h2>
      <form>
        <input type="text" [(ngModel)]="farmers.age"  name="age" placeholder="Enter Farmer age">
        <br>
        <button class="btn btn-success" type="button" (click)="getAllFarmerByAge()">Search</button>
      </form>
    </div>
  </div>





<div class="container-fluid">
    <div class="card" *ngFor="let farmer of farmers" >
        <div class="card-body">
            <p class="card-text">Id: {{farmer.farmerId}}</p>          
            <p class="card-text">Name: {{farmer.farmerName}}</p>
            <p class="card-text">Age: {{farmer.age}}</p>
            <p class="card-text">Number: {{farmer.contactNumber}}</p>
            <p class="card-text">Gender: {{farmer.gender}}</p>
            <p class="card-text">Email : {{farmer.email}}</p>
            <p class="card-text">Email : {{farmer.password}}</p>         
        </div>       
    </div>
    
    <br>
</div>
<br> <br> <br> <br>
